<?xml version="1.0" encoding="GBK"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dao.UserMapperDao">
  <resultMap id="user" type="User">
    <result property="userId" column="userId"/>
    <result property="username" column="username"/>
    <result property="password" column="password"/>
  </resultMap>
  <select id="select" resultType="java.util.Map" resultMap="user">select * from user where 1 = 1 
    <if test="userId != null">and userId = #{userId}</if>  
    <if test="username != null">and username = #{username}</if>  
    <if test="password != null">and password = #{password}</if>  
    <if test="condition != null">${condition}</if>
  </select>
  <select id="selectList" resultType="java.util.List" resultMap="user">select * from user where 1 = 1 
    <if test="userId != null">and userId = #{userId}</if>  
    <if test="username != null">and username = #{username}</if>  
    <if test="password != null">and password = #{password}</if>  
    <if test="condition != null">${condition}</if>  
    <if test="startPage != -1">limit #{startPage},#{page}</if> 
  </select>
  <select id="selectCount" resultType="java.lang.Integer">select count(userId) from user where 1 = 1 
    <if test="userId != null">and userId = #{userId}</if>  
    <if test="username != null">and username = #{username}</if>  
    <if test="password != null">and password = #{password}</if>  
    <if test="condition != null">${condition}</if> 
  </select>
  <insert id="insert" parameterType="User">insert into user (userId,username,password) values (#{userId},#{username},#{password})</insert>
  <update id="update" parameterType="User">update user 
    <set> 
      <if test="userId != null">userId = #{userId},</if>
      <if test="username != null">username = #{username},</if>
      <if test="password != null">password = #{password},</if> 
    </set> where 1 = 1 
    <if test="userId != null">and userId = #{userId}</if>
    <if test="condition != null">${condition}</if>
  </update>
  <delete id="delete" parameterType="User">delete from user where 1 = 1 
    <if test="userId != null">and userId = #{userId}</if>  
    <if test="username != null">and username = #{username}</if>  
    <if test="password != null">and password = #{password}</if>  
    <if test="condition != null">${condition}</if>
  </delete>
  <delete id="deleteByIds" parameterType="User">delete from user where userId in (${ids})</delete>
  <select id="maxId" resultType="java.lang.Integer">select max(userId) from user</select>
</mapper>
